.env

# dependencies
node_modules

# build output
dist
dist-ssr

# состояние Makefile/скрипта управления (pid, логи)
.apm

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
*.local
.vscode/*
!.vscode/extensions.json

# TS build cache
*.tsbuildinfo
